/*
Theme Name: Kingster Child
Theme URI: http://wp-college.com/kingster-child/
Description: Child theme based on kingster.
Author: Rivka Fishman
Template: kingster
Version: 1.0.0
Tags: child theme
Text Domain: kingster-child
*/

/* Accordion Styles */
.accordion-title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large !important;
    transition: 0.4s;
}
.accordion-title:hover {background-color: #ccc;}
.accordion-title:first-child {border: none;}
.accordion-title.open {cursor: pointer;}
.accordion-content {padding: 0 18px;}

.padding{
    padding:30px;
}

